@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  min-height: 100vh;
}
body {
  margin: 0 auto;
  background-color: #09090a;
  margin-inline: 120px;
  /* padding-block: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-x: scroll; */
  flex-direction: column;
  gap: 48px;
}
header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  padding-inline: 120px;
  padding-top: 100px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding-right: 120px;
  background-color: #09090a;
  width: 100%;
}
button {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  background-color: transparent;
  border: 1px solid #8b5cf6;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
button:hover {
  background-color: #805afd41;
}
#form-habits {
  display: flex;
  gap: 24px;
  max-width: 1200px;
  padding-top: 84px;
  padding-top: 220px;
  width: 100%;
  /* width: 1800px; */
  /* overflow: scroll; */
}

input {
  appearance: none;
  width: 64px;
  height: 64px;
  background: #18181b;
  border: 2px solid #27272a;
  border-radius: 8px;
  cursor: pointer;
}
input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
  border-radius: 8px;
}
.habits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin-top: 65px;
}
.habits .habit {
  width: 40px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.days {
  display: flex;
  gap: 48px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.day div {
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #a1a1aa;
  padding-block: 8px;
}
.input-days {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 760px) {
  body {
    margin-inline: 60px;
  }
  header {
    padding-inline: 60px;
  }
  header button span {
    display: none;
  }
}
